## ASP.NET Core
bin/
obj/
*.user
*.suo
*.cache
*.log

## Rider
.idea/
*.sln.iml

## Visual Studio
.vs/
*.rsuser

## Database
*.db
*.db-shm
*.db-wal

## Environment variables (ВАЖНО!)
.env
appsettings.Development.json
appsettings.Production.json

## Docker
docker-compose.override.yml

## Node (если есть)
node_modules/
dist/

## Logs
logs/
*.log