services:
  db:
    image: postgres:16-alpine
    container_name: flashcards-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "123"
      POSTGRES_DB: flashcards
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - flashcards-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: ./backend
      dockerfile: FlashcardsApp.Api/Dockerfile
    container_name: flashcards-api
    restart: unless-stopped
    env_file: ./backend/.env
    environment:
      - LOGS_PATH=/app/logs  # путь к логам внутри контейнера
    ports:
      - "5001:8080"
    volumes:
      - ./logs:/app/logs  # монтируем папку логов на хост
    depends_on:
      db:
        condition: service_healthy
    networks:
      - flashcards-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    container_name: flashcards-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - VITE_API_URL=http://localhost:5001/api
    depends_on:
      - api
    networks:
      - flashcards-net

volumes:
  pgdata:
    driver: local

networks:
  flashcards-net:
    driver: bridge