@import url('https://fonts.cdnfonts.com/css/oswald-4');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui" {
    themes: dark --default, light, mainbreaker, cupcake;
}

@plugin "daisyui/theme" {
  name: "mainbreaker";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: oklch(97% 0 0);
  --color-primary: oklch(60% 0.118 184.704);
  --color-primary-content: oklch(98% 0.014 180.72);
  --color-secondary: oklch(60% 0.126 221.723);
  --color-secondary-content: oklch(98% 0.019 200.873);
  --color-accent: oklch(55% 0.288 302.321);
  --color-accent-content: oklch(97% 0.014 308.299);
  --color-neutral: oklch(37% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

* {
  font-family: 'Oswald Regular', sans-serif;
}

.text-title {
  font-family: 'Oswald Stencil', sans-serif;
}

.text-subtitle {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.text-number {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.border-gradient {
  background-image: linear-gradient(90deg, #34d399, #10b981, #3b82f6, #10b981);
  background-size: 200% 200%;
  animation: gradientMove 4s linear infinite;
}

.border-gradient-success-r {

  background-image: linear-gradient(
    90deg,
    rgba(134, 239, 172, 0) 0%, 
    rgba(134, 239, 172, 0.1) 50%,
    #4ade80 85%,              
    #22c55e 100%              
  );
  background-size: 200% 200%;
  animation: gradientMove 10s linear infinite;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.border-gradient-success-r::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    rgba(34, 197, 94, 0.05) 0%,
    rgba(34, 197, 94, 0.15) 100%
  );
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.border-gradient-success-r:hover::before {
  opacity: 1;
}

.shadow-gradient-success-r {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.scroll-bar-none::-webkit-scrollbar {
  display: none;
}

.scroll-bar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shadow-gradient-success-r::after {
  content: "";
  position: absolute;
  top: 5%;
  right: -20px;
  width: 150px;
  height: 90%;
  border-radius: 10px;
  background: rgba(34, 197, 94, 0.25);
  filter: blur(25px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.shadow-gradient-success-r:hover::after {
  opacity: 1;
}

.border-gradient-primary {
  background-image: linear-gradient(
    90deg,
    rgba(252, 29, 166, 0.7), 
    rgba(250, 96, 217, 0) 50%,
    #bb11ca 85%,              
    #eb25dba2 100%              
  );
  background-size: 200% 200%;
  animation: gradientMove 4s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 60% 50%; }
  100% { background-position: 0% 50%; }
}


@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}
