@import url('https://fonts.cdnfonts.com/css/oswald-4');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui" {
    themes: dark --default, light, mainbreaker, cupcake;
}

@plugin "daisyui/theme" {
  name: "mainbreaker";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: oklch(97% 0 0);
  --color-primary: oklch(60% 0.118 184.704);
  --color-primary-content: oklch(98% 0.014 180.72);
  --color-secondary: oklch(60% 0.126 221.723);
  --color-secondary-content: oklch(98% 0.019 200.873);
  --color-accent: oklch(55% 0.288 302.321);
  --color-accent-content: oklch(97% 0.014 308.299);
  --color-neutral: oklch(37% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

* {
  font-family: 'Oswald Regular', sans-serif;
}

.text-title {
  font-family: 'Oswald Stencil', sans-serif;
}

.text-subtitle {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.text-number {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.border-gradient {
  background-image: linear-gradient(90deg, #34d399, #10b981, #3b82f6, #10b981);
  background-size: 200% 200%;
  animation: gradientMove 4s linear infinite;
}

.border-gradient-success-r {

  background-image: linear-gradient(
    90deg,
    rgba(134, 239, 172, 0) 0%, 
    rgba(134, 239, 172, 0.1) 50%,
    #4ade80 85%,              
    #22c55e 100%              
  );
  background-size: 200% 200%;
  animation: gradientMove 10s linear infinite;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.border-gradient-success-r::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    rgba(34, 197, 94, 0.05) 0%,
    rgba(34, 197, 94, 0.15) 100%
  );
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.border-gradient-success-r:hover::before {
  opacity: 1;
}

.shadow-gradient-success-r {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.scroll-bar-none::-webkit-scrollbar {
  display: none;
}

.scroll-bar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shadow-gradient-success-r::after {
  content: "";
  position: absolute;
  top: 5%;
  right: -20px;
  width: 150px;
  height: 90%;
  border-radius: 10px;
  background: rgba(34, 197, 94, 0.25);
  filter: blur(25px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.shadow-gradient-success-r:hover::after {
  opacity: 1;
}

.border-gradient-primary {
  background-image: linear-gradient(
    90deg,
    rgba(252, 29, 166, 0.7), 
    rgba(250, 96, 217, 0) 50%,
    #bb11ca 85%,              
    #eb25dba2 100%              
  );
  background-size: 200% 200%;
  animation: gradientMove 4s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 60% 50%; }
  100% { background-position: 0% 50%; }
}
